<h1><%= @user.email %></h1>
<p>Admin: <%= @user.admin? ? "Yes" : "No" %></p>

<% if @user.admin? %>
  <%= link_to "Revoke Admin", user_path(id: @user.id, admin: 0), class: "button", method: :put %>
<% else %>
  <%= link_to "Make Admin", user_path(id: @user.id, admin: 1), class: "button", method: :put %>
<% end %>
