---
http_interactions:
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJ5PESCDQX7KIMQ5Q&AssociateTag=oneclickrelie-20&Availability=Available&Keywords=987345jh4nksad.hy98asd67fsjsd&MaximumPrice=3000&MerchantId=Amazon&Operation=ItemSearch&SearchIndex=All&Service=AWSECommerceService&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-09-04T23%3A22%3A33Z&Version=2013-08-01&Signature=QfoI9yaHpCtOE152ONTxpXM%2FK7Doz6m5G%2BgQpPxsv2g%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" ?><ItemSearchResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2013-08-01"><OperationRequest><HTTPHeaders><Header
        Name="UserAgent" Value="Jeff/1.5.2 (Language=Ruby; JWos-MBP.attlocal.net)"></Header></HTTPHeaders><RequestId>ade90258-60e7-44c0-81c4-bd8223477e28</RequestId><Arguments><Argument
        Name="AWSAccessKeyId" Value="AKIAJ5PESCDQX7KIMQ5Q"></Argument><Argument Name="AssociateTag"
        Value="oneclickrelie-20"></Argument><Argument Name="Availability" Value="Available"></Argument><Argument
        Name="Keywords" Value="987345jh4nksad.hy98asd67fsjsd"></Argument><Argument
        Name="MaximumPrice" Value="3000"></Argument><Argument Name="MerchantId" Value="Amazon"></Argument><Argument
        Name="Operation" Value="ItemSearch"></Argument><Argument Name="SearchIndex"
        Value="All"></Argument><Argument Name="Service" Value="AWSECommerceService"></Argument><Argument
        Name="SignatureMethod" Value="HmacSHA256"></Argument><Argument Name="SignatureVersion"
        Value="2"></Argument><Argument Name="Timestamp" Value="2017-09-04T23:22:33Z"></Argument><Argument
        Name="Version" Value="2013-08-01"></Argument><Argument Name="Signature" Value="QfoI9yaHpCtOE152ONTxpXM/K7Doz6m5G+gQpPxsv2g="></Argument></Arguments><RequestProcessingTime>0.0136699520000000</RequestProcessingTime></OperationRequest><Items><Request><IsValid>True</IsValid><ItemSearchRequest><Availability>Available</Availability><Keywords>987345jh4nksad.hy98asd67fsjsd</Keywords><MaximumPrice>3000</MaximumPrice><MerchantId>Deprecated</MerchantId><ResponseGroup>Small</ResponseGroup><SearchIndex>All</SearchIndex></ItemSearchRequest><Errors><Error><Code>AWS.ECommerceService.NoExactMatches</Code><Message>We
        did not find any matches for your request.</Message></Error></Errors></Request><TotalResults>0</TotalResults><TotalPages>0</TotalPages><MoreSearchResultsUrl>https://www.amazon.com/gp/search?linkCode=xm2&amp;SubscriptionId=AKIAJ5PESCDQX7KIMQ5Q&amp;keywords=987345jh4nksad.hy98asd67fsjsd&amp;tag=oneclickrelie-20&amp;creative=386001&amp;url=search-alias%3Daws-amazon-aps&amp;camp=2025</MoreSearchResultsUrl></Items></ItemSearchResponse>
  recorded_at: Mon, 04 Sep 2017 23:22:34 GMT
recorded_with: VCR 3.0.3
