---
http_interactions:
- request:
    method: get
    uri: https://gis.fema.gov/geoserver/FEMA/ows?maxFeatures=250&outputFormat=json&request=%20GetFeature&service=WFS&typeName=FEMA:FEMANSSOpenShelters&version=1.0.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Disposition:
      - inline; filename=geoserver-GetFeature.application
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"type":"FeatureCollection","totalFeatures":70,"features":[{"type":"Feature","id":"FEMANSSOpenShelters.1","geometry":{"type":"Point","coordinates":[-76.7597,34.7308]},"geometry_name":"SHAPE","properties":{"SHELTER_ID":333336,"SHELTER_NAME":"Leon
        Mann Enrichment Center","ADDRESS":"3820 Galantis Drive","CITY":"MOREHEAD CITY","STATE":"NC","ZIP":"28557","SHELTER_STATUS":"OPEN","EVACUATION_CAPACITY":80,"POST_IMPACT_CAPACITY":80,"TOTAL_POPULATION":37,"HOURS_OPEN":null,"HOURS_CLOSE":null,"ORG_NAME":"Carteret
        County Emergency Management","ORG_ID":122159,"MATCH_TYPE":"A","SE_ANNO_CAD_DATA":null,"bbox":[-76.7597,34.7308,-76.7597,34.7308]}},{"type":"Feature","id":"FEMANSSOpenShelters.2","geometry":{"type":"Point","coordinates":[-86.2035,32.3405]},"geometry_name":"SHAPE","properties":{"SHELTER_ID":73069,"SHELTER_NAME":"Aldersgate
        United Methodist Church","ADDRESS":"6610 Vaughn Rd","CITY":"MONTGOMERY","STATE":"AL","ZIP":"36116","SHELTER_STATUS":"OPEN","EVACUATION_CAPACITY":100,"POST_IMPACT_CAPACITY":50,"TOTAL_POPULATION":5,"HOURS_OPEN":null,"HOURS_CLOSE":null,"ORG_NAME":"ARC
        OF CE[...]
[...]
