<table id="data-table" class="shared-table">
  <thead>
    <tr>
      <th></th>
      <% headers.each do |header| %>
        <th><%= header %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% rows.each do |row| %>
      <tr>
        <td><%= link_to 'Show', row %> / <%= link_to 'Update', [:edit, row] %></td>
        <% columns.each do |column| %>
          <td><%= truncate(row.send(column).to_s) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
 window.onload = function() {
   $('#data-table').DataTable({
     "order": [[ 1, "desc" ]],
     "bStateSave": true
   });
 };
</script>
