<table id="data-table">
  <thead>
    <tr>
      <% headers.each do |header| %>
        <th><%= header %></th>
      <% end %>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% rows.each do |row| %>
      <tr>
        <% columns.each do |column| %>
          <td><%= truncate(row.send(column).to_s) %></td>
        <% end %>
        <td><%= link_to 'Show', row %> / <%= link_to 'Update', [:edit, row] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
window.onload = function() {
  $('#data-table').DataTable();
};
</script>
