<h1>Distribution Points Needing Updates</h1>

<%= render "shared/table", rows: @distribution_points,
                           headers: @headers,
                           columns: @columns,
                           commands: table_command_list(:archive),
                           reverse_chron: true %>
